

$ff:'Work Sans', sans-serif;


$text_dark: #262626;
$text_light: #575757;
$text_black: #000;

$bcg_search_black: #000;
$bcg_serch_grey: #1C1B1F;

// Main Colors

$violet:  #8842F0;
$rose_light: #F9F1FE;



$transition: 0.3s all ease-in-out;